.FimSessao {
    text-align: end;
}

header {
    width: 100%;
}

#form {
    padding: 15px 15px;
    /* background: #50c6d8;
    color: #fff; */
    padding-left: 2%;
    width: 100%;
}

.Recomendacoes {
    position: fixed;
    top: 43%;
    left: 30%;
}

.botaosubmit:disabled {
    background: brown;
  }
  
  .botaosubmit:hover {
    background: yellow;
  }