/* body {
    background-color: #FFF;
} */

body {
    margin: 0;
}

.FimSessao {
    text-align: end;
}

#form {
    padding: 15px 15px;
    /* background: #50c6d8; */
    background-color: #56BAED;
    padding-left: 2%;
    color: #fff;
}

.centralizarRecomendacoes {
    position: fixed;
    top: 50%;
    left: 30%;
}