.titulo {
    display: block;
    color: black;
}

.form {
    display: inline-block;
    height: 10vh;
}

.t1 {
    margin-left: 20px;
    margin-right: 20px;
}

.t1 textarea {
    resize: none;
}

.BotaoComparar{
    position: relative;
    left: 43%
}