*{
    font-family: 'Verdana';
}
.telaLogin {
    align-items: center;
    display: flex;
    justify-content: center;
    min-height: 75vh;
  }
.d1{
    margin: 20px
}
.l1{
    margin: 5px;
    width: 100px;
    /* background-color: yellow; */
    text-align: center;
}
.i1{
    border-radius: 20px;
    background-color: rgb(232, 232, 255);
    border: none
}
.d2{
    /* background-color: yellowgreen; */
    align-items: center;
    display: flex;
    justify-content: space-around;
    
}